<section class="flex-column justify-content-center align-items-center ">
    <div class="container text-center d-flex flex-column justify-content-center align-items-center pt-5">
        <h2 class="text-uppercase fw-bolder pt-3 mt-5">
            portfolio component
        </h2>
        <div class="d-flex align-baseline">
            <div class=" star border border-3  my-3"></div>
            <i class="fa-solid fa-star  p-2"></i>
            <div class=" star border border-3  my-3"></div>
        </div>
    </div>
<section class="position-relative">
    <div class="container p-5 ">
        <div class="row gy-3">
            <div class="col-md-4">
                <!-- Button trigger modal -->
        <button type="button" class="border-0  bg-white" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <div class="inner position-relative">
                <img src="../../assets/poert1.png" alt="" class="w-100 ">
                <div class="layer position-absolute  top-0 start-0 end-0 bottom-0 d-flex flex-column justify-content-center align-items-center">
                    <i _ngcontent-ybe-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
            </div>
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
        
                <div class="modal-body p-0">
                    <img src="../../assets/poert1.png" alt="" class="w-100 ">
        
                </div>
              </div>
            </div>
          </div>
               </div>
       <div class="col-md-4">
        <!-- Button trigger modal -->
<button type="button" class="border-0  bg-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <div class="inner position-relative">
        <img src="./assets/port2.png" alt="" class="w-100 ">
        <div class="layer position-absolute  top-0 start-0 end-0 bottom-0 d-flex flex-column justify-content-center align-items-center">
            <i _ngcontent-ybe-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
    </div>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body p-0">
            <img src="./assets/port2.png" alt="" class="w-100 ">

        </div>
      </div>
    </div>
  </div>
       </div>
       <div class="col-md-4">
        <!-- Button trigger modal -->
<button type="button" class="border-0  bg-white" data-bs-toggle="modal" data-bs-target="#exampleModal3">
    <div class="inner position-relative">
        <img src="./assets/port3.png" alt="" class="w-100 ">
        <div class="layer position-absolute  top-0 start-0 end-0 bottom-0 d-flex flex-column justify-content-center align-items-center">
            <i _ngcontent-ybe-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
    </div>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body p-0">
            <img src="./assets/port3.png" alt="" class="w-100 ">

        </div>
      </div>
    </div>
  </div>
       </div>
       
       <div class="col-md-4">
        <!-- Button trigger modal -->
<button type="button" class="border-0  bg-white" data-bs-toggle="modal" data-bs-target="#exampleModal1">
    <div class="inner position-relative">
        <img src="../../assets/poert1.png" alt="" class="w-100 ">
        <div class="layer position-absolute  top-0 start-0 end-0 bottom-0 d-flex flex-column justify-content-center align-items-center">
            <i _ngcontent-ybe-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
    </div>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body p-0">
            <img src="../../assets/poert1.png" alt="" class="w-100 ">

        </div>
      </div>
    </div>
  </div>
       </div>
<div class="col-md-4">
<!-- Button trigger modal -->
<button type="button" class="border-0  bg-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
<div class="inner position-relative">
<img src="./assets/port2.png" alt="" class="w-100 ">
<div class="layer position-absolute  top-0 start-0 end-0 bottom-0 d-flex flex-column justify-content-center align-items-center">
    <i _ngcontent-ybe-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
</div>
</div>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">

<div class="modal-body p-0">
    <img src="./assets/port2.png" alt="" class="w-100 ">

</div>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<!-- Button trigger modal -->
<button type="button" class="border-0  bg-white" data-bs-toggle="modal" data-bs-target="#exampleModal3">
<div class="inner position-relative">
<img src="./assets/port3.png" alt="" class="w-100 ">
<div class="layer position-absolute  top-0 start-0 end-0 bottom-0 d-flex flex-column justify-content-center align-items-center">
    <i _ngcontent-ybe-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
</div>
</div>
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">

<div class="modal-body p-0">
    <img src="./assets/port3.png" alt="" class="w-100 ">

</div>
</div>
</div>
</div>
</div>
        </div>
    </div>
</section>

   
    
</section>
